.terms-conditions {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-grey-terms-conditions {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    padding: 15px 15px 20px 15px;
}

[data-custom-class='title'],
[data-custom-class='title'] * {
    font-family: Arial !important;
    font-size: 26px !important;
    color: var(--bg-color-blue) !important;
}

[data-custom-class='subtitle'],
[data-custom-class='subtitle'] * {
    font-family: Arial !important;
    color: white !important;
    font-size: 14px !important;
}

[data-custom-class='heading_1'],
[data-custom-class='heading_1'] * {
    font-family: Arial !important;
    font-size: 19px !important;
    color: var(--bg-color-blue) !important;
}

[data-custom-class='heading_2'],
[data-custom-class='heading_2'] * {
    font-family: Arial !important;
    font-size: 17px !important;
    color: var(--bg-color-blue) !important;
}

[data-custom-class='body_text'],
[data-custom-class='body_text'] * {
    color: white !important;
    font-size: 14px !important;
    font-family: Arial !important;
}

[data-custom-class='link'],
[data-custom-class='link'] * {
    color: white !important;
    font-size: 14px !important;
    font-family: Arial !important;
    word-break: break-word !important;
}

.terms-conditions span {
    background-color: transparent !important;
}

.terms-conditions div {
    color: white !important;
}

@media only screen and (max-width: 750px) {   
    .terms-conditions {
        padding: 0px;
    }
}