.specific-crypto {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-grey {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    width: 100%;
    padding-bottom: 40px;
}

.chart-div {
    margin-top: -20px;
    max-width: 90%;
    padding-left: 60px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     align-items: flex-start; */
    padding-left: 80px;
}

.btn-containers-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
}

.chart-btns-desktop {
    display: flex;
}

.h-spacer {
    display: revert;
    flex: 1;
}

.chart-btns-mobile {
    display: none;
}

.container-crypto {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.container-title-crypto{
    margin-top: -10px;
    margin-left: -20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.crypto-title{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 35px;
    margin-left: 15px;
}

.grey-container{
    background-color: #737373;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
    cursor: default;
    max-height: 35px;
    padding: 6px 13px;
    margin-bottom: 10px;
}

.green-container{
    background-color: #55AD11;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
    cursor: default;
    max-height: 35px;
    padding: 6px 13px;
    margin-bottom: 10px;
}

.red-container{
    background-color: #B63939;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
    cursor: default;
    max-height: 35px;
    padding: 6px 13px;
    margin-bottom: 10px;
}

.specific-crypto-primary-btn{
    background-color: #737373;
    color: white;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
    cursor: default;
    max-height: 35px;
    padding: 6px 13px;
    margin-bottom: 10px;
}
.specific-crypto-primary-btn:hover{
    background-color: rgb(99, 133, 172);
}

.p-crypto {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.p-crypto-green {
    color: #55AD11;
    font-weight: 500;
    margin-bottom: 10px;
}

.p-crypto-red {
    color: #B63939;
    font-weight: 500;
    margin-bottom: 10px;
}

@media only screen and (max-width:600px) {
    .container-header{
        margin-left: -50px;
    }
}

@media only screen and (max-width: 800px) {
    .chart-btns-mobile {
        display: flex;
    }

    .h-spacer {
        display: none;
    }

    .chart-btns-desktop {
        display: none;
    }

    .btn-container {
        width: 100%;
        max-width: 98%;
        justify-content: space-evenly;
    }

    .chart-div {
        padding-left: 20px;
    }

    .chart {
        margin-left: -15px;
    }

    .paper-grey {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 1540px) {
    .xs-spacer-crypto {
        display: revert !important;
    }
}
