.dashboard-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-gray {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    width: 100%;
}

.overview-label {
    margin: 0px 0px 10px 70px;
    padding: 0;
    color: white;
    padding-top: 15px;
    font-weight: 500;
}

.container-title {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-spacer {
    flex: 1 0 0;
}

.show-more-button {
    color: white;
    font-weight: bold;
    font-size: 13px;
    background-color:   #607390;
    border-radius: 15px;
    padding: 3px 5px 6px 5px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}

.dashboard-title {    
    color: white;
    margin-left: 70px;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.button-container {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-container-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 50px;
    font-weight: bold;
    font-size: 15px;
    background-color:   #B6A939;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    padding: 0px 20px 0px 20px;
}

.favourite-container-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color:   #1C91C6;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 3 0px;
    padding: 0px 20px 0px 20px;
    margin-right: 45px;
}

@media only screen and (max-width: 900px){
    .button-container{
        justify-content:center;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard-page {
        padding: 0;
    }

    .paper-gray {
        border-radius: 0px;
    }

    .alert-container-title {
        width: 100px;
        height: 55px;
        padding-left: 10px !important;
        padding-right: 35px !important;
        text-align: left !important;
    }

    .favourite-image {
        margin-right: 5px !important;
    }

    .edit-alert {
        padding-left: 10px !important;
    }

    .favourite-container-title {
        width: 100px !important;
        height: 55px;
        padding-left: 10px !important;
        padding-right: 35px !important;
        text-align: left !important;
    }

    .plus-image {
        margin-right: 5px !important;
    }

    .edit-favourites {
        padding-left: 3px !important;
    }
}

.favourite-assets-news-label {
    margin: 50px 0px 10px 0px;
    color: white;
    padding: 15px;
    margin-left: 40px;
    font-weight: 500;
}


.scrollable-side-news-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 530px;
}

.dashboard-news .single-side-news-container {
    padding-bottom: 0;
}

.dashboard-news .single-side-news-list{
    max-width: 100%;
}

.dashboard-news .side-news-title {
    color: var(--bg-color-blue);
    font-size: 16px;
}

.dashboard-news .side-news-content {
    margin-top: 10px;
    font-size: 15px;
}

.dashboard-news .side-news-date {
    padding-top: 5px;
}

@media only screen and (max-width: 750px) {

    .dashboard-news .single-side-news-list {
        max-width: 90% !important;
    }

    .dashboard-news .single-side-news-container {
        margin-right: 15px;
        margin-left: 15px;
    }
}

