.dashboard-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-gray {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    width: 100%;
    padding-bottom: 40px;
}

.overview-label {
    margin: 0px 0px 10px 70px;
    padding: 0;
    color: white;
    padding-top: 15px;
    font-weight: 500;
}

.cripto-title {
    color: white;
    margin-left: 70px;
    font-weight: bold;
    font-size: 18px;
}

.show-more-button {
    color: white;
    margin-left: 50px;
    font-weight: bold;
    font-size: 13px;
    background-color:   #607390;
    border-radius: 15px;
    padding: 3px 5px 6px 5px;
    text-align: center;
    cursor: pointer;
}

.button-container {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-title {    
    color: white;
    margin-left: 70px;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

@media only screen and (max-width: 600px) {
    .dashboard-page {
        padding: 0px;
    }

    .paper-gray {
        border-radius: 0px;
    }
}

.alert-container-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 50px;
    font-weight: bold;
    font-size: 15px;
    background-color:   #B6A939;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    padding: 0px 20px 0px 20px;
}

.favourite-container-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color:   #1C91C6;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 3 0px;
    padding: 0px 20px 0px 20px;
}








.favourite-assets-news-label {
    margin: 50px 0px 10px 0px;
    color: white;
    padding: 15px;
    margin-left: 40px;
    font-weight: 500;
}

.dashboard-container-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #414141 !important;
    border-radius: 8px;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}




.dashboard-big-news-container {
    background-color: #575757;
    width: 45%;
    border-radius: 35px;
    padding: 0;
    margin: 0;
    padding: 10px;
    margin-left: 50px;
    height: fit-content;

}

.dashboard-big-news-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dashboard-big-news-image-container {
    padding: 10px;
}

.dashboard-big-news-image {
    border-radius: 35px;
    width: 100%;
    height: 400px;
}

.dashboard-big-news-title {
    color: var(--bg-color-blue);
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 0;
}

.dashboard-big-news-content {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

.dashboard-big-news-date {
    text-align: right;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 16px;
}






.dashboard-three-side-news-container {
    margin-right: 5%;
    width: 35%;
}

.dashboard-single-side-news-container {
    margin: 0;
    padding: 0;
    background-color: #575757;
    border-radius: 35px;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
}

.dashboard-single-side-news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-side-news-title {
    color: var(--bg-color-blue);
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.dashboard-side-news-content {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

.dashboard-side-news-date {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 14px;
}



@media only screen and (max-width: 1215px) {

    .dashboard-big-news-container {
        width: 50%;
    }

    .dashboard-three-side-news-container {
        width: 30%;
    }

    .dashboard-single-side-news-container {
        flex-direction: column-reverse;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 700px) {

    .dashboard-big-news-container {
        width: 80%;
        margin-left: 8%;
    }

    .dashboard-big-news-title {
        font-size: 20px;
    }

    .dashboard-big-news-description {
        font-size: 14px;
    }

    .dashboard-big-news-image {
        height: 200px;
    }

    .dashboard-big-news-date {
        font-size: 12px;
    }

    .dashboard-three-side-news-container {
        padding-top: 30px;
        width: 70%;
        margin-left: 16%;
    }

    .dashboard-side-news-title {
        font-size: 16px;
    }

    .dashboard-side-news-date {
        font-size: 12px;
    }
}
