.account-settings-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;

}

.paper-gray-account-settings {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    
}

.paper-black-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.account-settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
}

.account-settings-title {
    font-size: 25px;
    color: white;
    font-weight: bold; 
    padding-top: 10%;
}

.name-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.name-image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.account-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.account-big-name {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.paper-black-account-info {
    background-color: var(--bg-color-dark);
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.property-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 40px 20px;
    
}

.property-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.property-title {
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

.property-content {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.password-content {
    background-color: var(--bg-color-black);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    border-color: transparent;
    font-family: Verdana;
    letter-spacing: 0.125em;
    font-size: 12px !important;
    border: 0;
    padding: 0;
    max-width: 55%;
}

.edit-button {
    color: white;
    background-color: var(--light-gray-color);
    border-radius: 8px;  
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-right: 20px;
    padding: 6px 14px 6px 14px;
    cursor: pointer;
}

.sign-out-button {
    color: white;
    background-color: var(--light-gray-color);
    border-radius: 8px;  
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    padding: 12px 16px 12px 16px;
    max-width: 20%;
    cursor: pointer;
    margin-top: 30px;
}.account-settings-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;

}

.paper-gray-account-settings {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    
}

.paper-black-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.account-settings-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
}

.account-settings-title {
    font-size: 25px;
    color: white;
    font-weight: bold; 
    padding-top: 10%;
}

.name-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.name-image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.account-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.account-big-name {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.paper-black-account-info {
    background-color: var(--bg-color-dark);
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.property-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 40px 20px;
    
}

.property-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.property-title {
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
}

.property-content {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.password-content {
    background-color: var(--bg-color-black);
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    border-color: transparent;
    font-family: Verdana;
    letter-spacing: 0.125em;
    font-size: 12px !important;
    border: 0;
    padding: 0;
    max-width: 55%;
}

.edit-button {
    color: white;
    background-color: var(--light-gray-color);
    border-radius: 8px;  
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-right: 20px;
    padding: 6px 14px 6px 14px;
    cursor: pointer;
}

.sign-out-button {
    color: white;
    background-color: var(--light-gray-color);
    border-radius: 8px;  
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    padding: 12px 16px 12px 16px;
    max-width: 20%;
    cursor: pointer;
    margin-top: 30px;
}