.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: var(--side-bar-min-width);
    background-color: var(--bg-color-dark);
}

ul {
    list-style-type: none;
}

.divider {
    height: 1px;
    width: 260px;
    background-color: var(--bg-color-gray);
    margin-bottom: 5px;
}

.vert-spacer {
    flex: 1;
    width: 1px;
}

.side-bar-list {
    margin: 0;
    padding: 0 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.active {
    border-color: var(--bg-color-blue);
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-radius: 5px !important;
    margin-left: -5px !important;
}

.active a, .active a:visited {
    color: var(--bg-color-blue) !important;
}

.side-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 6px 0px;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    padding-left: 50px;
}

.side-bar-item a {
    color: white;
    position: relative;
    top: -2px;
    text-decoration: none !important;
}

.side-bar-item a:visited {
    color: white;
    position: relative;
    top: -2px;
    text-decoration: none !important;
}

.side-bar-item:hover {
    background: linear-gradient(90deg, var(--bg-color-dark) 0%, #696969 100%);
}

.side-bar-logo {
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-bar-logo-list {
    margin-left: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-logo-text a {
    font-weight: 500;
    font-size: 24px;
    color: white;    
    text-decoration: none;
}

.sidebar-logo-text a:hover {
    background: -webkit-linear-gradient(left, #2BA9E4, #00FFEE);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


