.popular-news-label {
    margin: 0px 0px 10px 0px;
    color: white;
    padding-top: 15px;
    font-weight: 500;
}

.news-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-grey-news {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    padding: 30px 30px 30px 50px;
    display: flex;
    padding: 15px;
}



.big-news-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #414141;
    border-radius: 35px;
    list-style-type: none;
    padding: 15px;
    margin: 0;
    margin-left: 30px;
    margin-right: 150px;
    width: 45%;
}

.big-news-image {
    border-radius: 35px;
}

.big-news-title {
    color: var(--bg-color-blue);
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 0;
}

.big-news-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}






.side-news-list {
    background-color: #414141;
    border-radius: 35px;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-right: 10px;

}

.side-news-title {
    color: var(--bg-color-blue);
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 20px;
}

.side-news-image {
    border-radius: 35px;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


.side-news-box-container {
    width: 35%;

}