.news-label {
    margin: 0px 0px 10px 0px;
    color: white;
    padding-top: 15px;
    font-weight: 500;
}

.news-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-grey-news-top {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
}



.big-news-container {
    background-color: #414141;
    width: 45%;
    border-radius: 35px;
    padding: 0;
    margin: 0;
    padding: 10px;
    margin-left: 50px;
    height: min-content;
}

.big-news-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.big-news-image {
    border-radius: 35px;
    width: 100%;
    height: 300px;
}

.big-news-title {
    color: var(--bg-color-blue);
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 0;
}

.big-news-content {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

.big-news-date {
    text-align: right;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 16px;
}






.three-side-news-container {
    margin-right: 5%;
    width: 35%;
}

.single-side-news-container {
    margin: 0;
    padding: 0;
    background-color: #414141;
    border-radius: 35px;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 50px;
}

.single-side-news-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.side-news-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.side-news-image {
    border-radius: 35px;
    width: 35%;
    margin: 10px;
}

.side-news-date {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 14px;
}




.paper-grey-news-bottom {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
}

.standard-news-container {
    background-color: #414141;
    border-radius: 35px;
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
}

.standard-news-list-title-content {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.standard-news-list-content-date {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.standard-news-image {
    border-radius: 35px;
    width: 50%;
    height: 150px;
}

.standard-news-title {
    color: var(--bg-color-blue);
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 0;
}

.standard-news-content {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 15px;
    margin-top: 10px;
}

.standard-news-date {
    text-align: right;
    margin: 0;
    padding-right: 10px;
    color: var(--light-gray-color);
    font-weight: bold;
    font-size: 14px;
}

.popular-label-and-search {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


@media only screen and (max-width: 1215px) {

    .big-news-container {
        width: 50%;
    }

    .three-side-news-container {
        width: 30%;
    }

    .single-side-news-container {
        flex-direction: column-reverse;
        padding-right: 20px;
    }

    .side-news-title {
        margin-top: 0;
    }

    .side-news-image {
        width: 100%;
    }

    .standard-news-image {
        width: 40%;
        height: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .paper-grey-news-top {
        flex-direction: column;
    }
    
    .big-news-container {
        width: 80%;
        margin-left: 8%;
    }

    .big-news-title {
        font-size: 20px;
    }

    .big-news-description {
        font-size: 14px;
    }

    .big-news-image {
        height: 200px;
    }

    .big-news-date {
        font-size: 12px;
    }

    .three-side-news-container {
        padding-top: 30px;
        width: 70%;
        margin-left: 16%;
    }

    .side-news-title {
        font-size: 16px;
    }

    .side-news-date {
        font-size: 12px;
    }

}


