.login {
    background-color: var(--bg-color-dark);
    padding: 0px 10px 10px 10px;
}

.login-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
}

.login-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.login-header-title{
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-right: 10px;
}

.login-header-subtitle{
    font-weight: 500;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.field-title {
    font-weight: 500;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.login-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
}

.login-field-style{
    height: 38px;
    width:100%;
    border-radius: 10px;
    border: none;   
    background-color: var(--forms-field-color);
    padding-left: 20px !important;
    font-weight: 600 !important;
    font-size: 15px;
    color: white;  
}

.login-field-style:focus {
    outline: none !important;
    border: 1px solid #41B3E5;
}

.login-button-style{
    height: 38px;
    width:100%;
    border-radius: 10px;
    border: none;  
    background-color: #41B3E5;
    cursor: pointer;
}

.login-button-style:hover {
    background-color: #3292bb;
}

.login-button-text{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 6px;
    color: white;
    font-weight: 600 !important;
    font-size: 18px;
}

.login-button-style-google {
    height: 38px !important;
    width:100% !important;
    border-radius: 10px !important;
    border: none !important;  
    background-color: #F2F2F2 !important;
    color: rgb(4, 4, 4) !important;
    font-size: 18px !important;
    justify-content: center;
}

.login-button-style-google div {
    padding: 0px !important;
    padding-top: 5px !important;
    background-color: transparent !important;
}


.login-button-style-google span {
   font-weight: 600 !important;
}


.login-button-style-google:hover {
    background-color: #e1e1e1;
}

.login-ending{
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.login-ending-list{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 260px;
    margin: 0 auto;
}

.password-list {
    display: flex;
    justify-content: flex-start !important;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}

.login .error-label {
    margin-top: 10px;
    background-color: #d14242;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    height: fit-content;
    padding: 5px 10px 6px 10px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.3s !important;
    -webkit-transition: opacity 0.5s;
}

.login .label-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s;
    -webkit-transition: opacity 0.3s;
}

.login .error-label p {
    margin: 0px !important;
    color: white;
    max-width: 95%;
    font-size: 0.9em !important;
    font-weight: 500;
    text-align: center;
    white-space: initial;
}

@media only screen and (max-width: 600px) {
    .login {
        padding: 0px;
    }
}

.login .choose-username-popup {
    box-sizing: border-box;
    position: fixed;
    width: 400px;
    left: 46%;
    top: 25%;
    background-color: var(--bg-color-gray);
    border-radius: 10px;
    padding-bottom: 15px;
}

.login .popup-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.login .popup-title {
    margin-top: 0px;
    color: white;
    width: 90%;
    font-weight: 600;
    font-size: 1.2em;
}

.login .popup-label {
    color: var(--light-gray-color);
    font-size: 0.9em;
    position: relative;
    left: -30%;
    margin: 10px 0px 0px 0px;
}

.login .popup-text {
    max-width: 85%;
    color: var(--light-gray-color);
    margin-bottom: 15px;
}

.login .popup-btn {
    width: 88%;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 500;
}

.login .app-bar-search {
    color: white;
    width: 90% !important;
    padding-left: 10px !important;
}

.login .popup-create {
    background-color: var(--color-cyan);
}

.login .popup-create:hover {
    background-color: var(--color-cyan-dark);
}

.login .popup-cancel {
    background-color: var(--light-gray-color);
}

.login .popup-cancel:hover {
    background-color: #7a7a7a;
}