:root {
    --bg-color-dark: #1F1F1F;
    --side-bar-min-width: 320px;
    --bg-color-gray: #333333;
    --bg-color-blue: #32C0FF;
    --search-bg-color: #424141;
    --price-color-green:#49B668;
    --price-color-red:#B64949;
}