:root {
    --bg-color-dark: #1F1F1F;
    --side-bar-min-width: 320px;
    --bg-color-gray: #333333;
    --bg-color-blue: #32C0FF;
    --search-bg-color: #424141;
    --price-color-green:#2ccf5b;
    --price-color-red:#db3434;
}