.forgot-password {
    background-color: var(--bg-color-dark);
    padding: 0px 10px 10px 10px;
}

.forgot-password-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
}

.forgot-password-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.forgot-password-header-title{
    font-weight: 700;
    font-size: 30px;
    color: white;
    padding-right: 10px;
}

.forgot-password-header-subtitle{
    font-weight: 500;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.forgot-password-field-title {
    font-weight: 500;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.forgot-password-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
}

.forgot-password-field-style{
    height: 38px;
    width:100%;
    border-radius: 10px;
    border: none;   
    background-color: var(--forms-field-color);
    padding-left: 20px !important;
    font-weight: 600 !important;
    font-size: 15px;
    color: white;  
}

.forgot-password-field-style:focus {
    outline: none !important;
    border: 1px solid #41B3E5;
}

.send-button-style{
    height: 38px;
    width:100%;
    border-radius: 10px;
    border: none;  
    background-color: #41B3E5;
    cursor: pointer;
}

.send-button-style:hover {
    background-color: #3292bb;
}

.send-button-text{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 6px;
    color: white;
    font-weight: 600 !important;
    font-size: 18px;
}

.forgot-password-ending{
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.forgot-password-ending-list{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 380px;
    margin: 0 auto;
}


.forgot-password .error-label {
    background-color: #d14242;
    width: 90%;
    height: 30px;
    margin-left: 20px;
    margin-top: 13px;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.3s !important;
    -webkit-transition: opacity 0.5s;
}

.forgot-password .label-active {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s;
    -webkit-transition: opacity 0.3s;
}

.forgot-password .error-label p {
    margin: 3px 0px 0px 0px;
}

.forgot-password .label-active p {
    text-align: center;
    color: white;
    font-weight: 600;
    white-space: pre;
}
