body {
	margin: 0px;	
}

.dashboard {
	background-color: #1F1F1F;	
	padding: 0px;
}

.app-bar {
	display: flex;
	align-items: center;
}

.page-name {
	color: #2BA9E4;
	font-weight: 600;
	font-size: 1.2em;
	font-family: sans-serif;
	margin: 0px;
}

.assets-div {
	padding: 20px 15px 15px 15px;
	max-width: 56%;
}

.users-div, .assets-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.label {
	margin-top: 15px;
	color: #8F8F8F;
	font-weight: 600;
	font-family: sans-serif;
}

.users-div {
	margin-top: 20px;
	margin-right: 10px;
}

.dashboard-content {
	background-color: #1F1F1F;
	min-height: fit-content;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.add-new-field {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 10px 10px 0px;
}

.add-new-field input {
	margin-right: 10px;
}

fieldset {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 600;
	font-family: sans-serif;
	color: white;
	border-radius: 10px;
	height: 36px;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

.add-new-btn {
	background-color: #1C91C6;
	margin-left: 10px;
}

.logout-btn {
	background-color: #A73D3D;
	margin-right: 20px;
} 

.spacer {
	flex: 1 0 0;
}

.btn p {
	margin: 0px;
	margin-left: 6px;
}

input[type=text], input[type=number] {
	height: 32px;
    border-radius: 8px;
    border: 1px solid #909090;
    background-color: #1F1F1F;
	color: white;
}

.table-wrapper {
	flex: 1 0 0;
	min-height: 73vh;
	width: 100%;
	overflow-y: scroll;
}

.background-blurrer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: rgba(31, 31, 31, 0.5);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.confirm-popup {
    position: fixed;
    top: 20%;
    left: 46%;
    background-color: #2e2e2e;
    max-width: 320px;
    border-radius: 10px;
}

.popup-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.popup-title {
    color: white;
    width: 90%;
    font-weight: 600;
    font-size: 1.2em;
	margin-top: 15px;
}

.popup-text {
    max-width: 85%;
    color: #8F8F8F;
    margin-bottom: 15px;
}

.popup-btn {
    width: 88%;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
}

.popup-confirm {
    background-color: rgb(209, 0, 0);
}

.popup-confirm:hover {
    background-color: rgb(179, 0, 0);
}

.popup-cancel {
    background-color: #8F8F8F;
}

.popup-cancel:hover {
    background-color: #7a7a7a;
}


