.home-page {
    background-color: var(--bg-color-dark);
    min-height: 100vh;
    padding: 0px 10px 10px 10px;
}

.paper-grey {
    background-color: var(--bg-color-gray);
    border-radius: 8px;
    width: 100%;
    padding-bottom: 40px;
}

ul {
    list-style-type: none;
}

.item {
    padding-bottom: 30px;
}
/* il container di worst e top gainers */
.container {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
    padding-top: 2px;
    padding-bottom: 10px;
}

.worst-gainers {
    background: radial-gradient(115.28% 290.48% at 4.5% -15.43%, rgba(238, 16, 16, 0.67) 0%, #3A2B2B 22.92%, #342E2E 56.77%, #353030 100%);
}

.top-gainers {
    background: radial-gradient(115.28% 290.48% at 4.5% -15.43%, rgba(114, 238, 16, 0.67) 0%, #2F3A2B 22.92%, #30342E 56.77%, #323530 100%);
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 40px;
    margin-left: -10px;
    font-weight: 500;
}

.list-title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: -10px
}

.list-number {
    margin-right: 10px;
    font-size: 0.8em;
    color: #8B8B8B;
}

.list-name {
    margin-right: 8px;
    color: white;
    margin-left: 5px;
}

.list-ticker {
    color: #8B8B8B;
}

.list-change-green {
    margin-right: 15px;
    color: var(--price-color-green);
}

.list-change-red {
    margin-right: 15px;
    color: var(--price-color-red);
}

@media only screen and (max-width: 900px) {
    .xs-spacer {
        display: revert !important;
    }

    .list-item {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 980px) {
    .table{
        display: block !important;
        overflow-x: auto !important;
        white-space: nowrap !important;
    }
}

.table-attribute {
    color: white !important;
}

.table-item {
    color: white !important;
    text-align: left !important;
    text-transform: capitalize !important;
    padding: 10px 0px 10px 15px !important;
}

.item-green {
    color: var(--price-color-green) !important;
}

.item-red {
    color: var(--price-color-red) !important;
}

thead th {
    font-weight: 600 !important;
    font-size: 16px !important;
}

tbody tr:hover {
    background-color: #464646;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
}
  
.table:last-child {
    border: hidden !important;
}

.news-img {
    border-radius: 15px;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
}

.news-day-label {
    margin: 0px 0px 10px 60px;
    padding: 0;
    color: white;
    padding-top: 10px;
    font-weight: 500;
}

.news-title {
    color: var(--bg-color-blue);
    max-width: 300px;
    font-weight: 500;
    font-size: 0.9em;
}

.news-content {
    color: white;
    max-width: 260px;
    font-size: 0.8em;
}

.swiper-main {
    margin-top: 5px;
    width: 100%;
}

.swiper-pagination-bullets {
    bottom: 0px !important; 
}

/* override di una classe di swiper */
.swiper-wrapper {
    padding-left: 10px !important;
}
