@media only screen and (max-width: 1120px) {
    .side-bar {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        z-index: 99;
        transform: translateX(-100%); 
    } 

    .side-bar-active {
        transform: translateX(0) !important;
    }

    .app-bar {
        margin-left: 0 !important;
    }

    .menu-button {
        display: revert !important;
    }

    .side-bar-back-btn {
        display: revert !important;
    }

    .sidebar-profile-section {
        display: revert !important;
    }

    .profile-icon {
        display: none !important;
    }

    .dropdown-profile {
        display: none !important;
    }

    .dropdown-notification {
        right: 15px !important;
        font-size: 0.8em !important;
    }

    .delete-icon {
        font-size: 20px !important;
    }

    .app-bar-logo {
        display: revert !important;
    }

    .layout-content-main {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 600px) {
    .search-icon {
        display: revert !important;
    }

    .app-bar-search-field {
        display: none !important;
    }
}


@media only screen and (min-width: 1000px) {
    ::-webkit-scrollbar {
        width: 12px;
    }
     
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        background-color: var(--bg-color-dark);
    }
     
    ::-webkit-scrollbar-thumb {
        background-color: #616161;
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }
    
    ::-webkit-scrollbar-corner {
        background: none;
    }
}

.layout-content-main {
    margin-left: var(--side-bar-min-width);
}

#root {
    width: 100%;
    height: 100vh;
}

