@media only screen and (max-width: 1280px) {
    .side-bar {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        z-index: 99;
        transform: translateX(-100%); 
    } 

    .side-bar-active {
        transform: translateX(0) !important;
    }

    .app-bar {
        margin-left: 0 !important;
    }

    .menu-button {
        display: revert !important;
    }

    .side-bar-back-btn {
        display: revert !important;
    }

    .sidebar-profile-section {
        display: revert !important;
    }

    .profile-icon {
        display: none !important;
    }

    .app-bar-logo {
        display: revert !important;
    }

    .layout-content-main {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 600px) {
    .search-icon {
        display: revert !important;
    }

    .app-bar-search-field {
        display: none !important;
    }
}

.layout-content-main {
    margin-left: var(--side-bar-min-width);
}

#root {
    width: 100%;
    height: 100vh;
}