.app-bar {
    height: 70px;
    margin-left: var(--side-bar-min-width);
    background-color: var(--bg-color-dark);
    display: flex;
    align-items: center;
}

.app-bar-search {
    height: 36px;
    margin-left: 30px;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: var(--search-bg-color);
}

.menu-button {
    width: 1.4em !important;
}

input[type=text] {
    color: white;
    margin-left: 50px !important;
}

.spacer {
    flex: 1 0 0;
}